language: node_js
node_js:
  - "8.11"

branches:
  only:
    - master

before_script:
  - npm install -g preact-cli

script:
  - npm run build

after_success:
  - firebase deploy --token $FIREBASE_TOKEN

notifications:
  email:
    on_failure: change